.contact-btn {
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);

    @media only screen and (max-width: 64em) {
        display: none;
    }

    & i {
        font-size: 3.5rem;
        position: absolute;
    }

    & p {
        font-size: 1rem;
        font-weight: 600;
        width: 10rem;
        height: 10rem;

        display: flex;
        justify-content: center;
        animation: spinText 30s linear infinite;

        & span {
            position: absolute;
            transform-origin: 0.3rem 5rem;
        }
    }
}

.header__btn {
    background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary), var(--color-primary-variant));
    position: absolute;
    right: 6%;
    bottom: -3rem;

    &:hover {
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);
        transform: translateY(-1rem);
        color: var(--color-bg-1);
    }
}


//spin text

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}